@import 'abstracts/fonts';
@import 'abstracts/vars';

@import 'base/global';
@import 'base/typography';
@import 'base/utilities';

@import 'components/navigation';
@import 'components/button';
@import 'components/services-box';
@import 'components/team-box';
@import 'components/project-works';
@import 'components/contact-box';
@import 'components/form';
@import 'components/slider-quote';
@import 'components/burger-menu';
@import 'components/logo';

@import 'layout/header';
@import 'layout/footer';

@import 'pages/home';













