html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
a,
input,
button,
textarea {
  cursor: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "CenturyGothic";
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
