.btn {
    font-size: 18px;
    line-height: 25px;
    padding: 9px 20px;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    transition: all 0.2s;

    &:hover {
        background-color: #fff;
        color: #000;
    }

    &--project {
        padding: 9px 55px;
        margin-top: 54px;
        transition: all 0.3s;

        &:hover {
            box-shadow: 0 10px 20px rgba(#000, 0.5);
        }
    }

    &--contact {
        border: none;
        // cursor: pointer;
        margin-top: 24px;
        transition: all 0.4s;

        &:hover {
            box-shadow: 0 10px 20px rgba(#000, 0.5);
        }
    }
}

.text-btn {
    font-family: "Revalia", cursive;
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 22px;
    // cursor: pointer;

    &:not(:last-child) {
        margin-right: 40px;
    }
}

.to-top-btn {
    background-color: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    opacity: 0;
    visibility: hidden;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    z-index: 100;

    &:hover {
        background-color: rgba(0, 0, 0, 1);
    }

    &::before {
        content: "\f077";
        font-family: "icomoon";
        color: #fff;
        font-size: 26px;
        line-height: 50px;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}
