.menu {
  padding-top: 70px;

  @media (max-width: 800px) {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    z-index: 1;
    transition: all .5s;
  }

  &.active {
    
    @media (max-width: 800px) {
      top: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: center;

    @media (max-width: 800px) {
      flex-direction: column;
      height: 100%;
    }
  }

  &__item {

    &:not(:last-child) {
      margin-right: 70px;

      @media (max-width: 800px) {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: 'Revalia', cursive;
    font-size: 24px;
    line-height: 28px;
    color: $color-text;
    position: relative;

    @media (max-width: 800px) {
      margin-bottom: 70px;
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #000;
      bottom: -10px;
      left: 0;
      z-index: 1;
      transition: width .2s;
    }
    &:hover {

      &::after {
        width: 100%;
      }
    }
  }
}

.hidden {
  top: -1000px;
}