.popup {
  display: none;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  overflow: hidden;
  transform: translateY(-100px);
  transition: all .7s;

  &__title {
    text-align: center;
    transform: translateY(-100px);
    opacity: 0;
    transition: transform .4s .1s, opacity .4s .1s;
  }
}

.fancybox-slide--current .popup,
.fancybox-slide--current .popup__title {
  transform: translateY(0);
  opacity: 1;
}