.team-box {
  // flex: 1 1 33.333333%;
  width: 33.33333%;
  text-align: center;
  color: #000;
  font-family: "Revalia", cursive;

  @media (max-width: 996px) {
    width: 50%;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  &__photo {
    margin-bottom: 17px;
  }

  &__img {
    border-radius: 50%;
    transition: filter 0.2s linear;
    filter: grayscale(.5);

    &:hover {
      filter: grayscale(0);
    }
  }

  &__name {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 17px;
  }

  &__position {
    margin-bottom: 17px;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
