.about-us {
  padding: 100px 0;
}

.our-projects {
  background-color: #000;
  padding: 100px 0;
}

.services {
  background-color: $color-grey;
  padding: 100px 0 50px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
}

.team {
  padding: 100px 0 135px;

  @media (max-width: 996px) {
    padding-bottom: 60px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.quote {
  background-color: #000;
  padding: 100px 0;

  &__inner {
    color: #fff;
  }
}

.projects {
  padding: 100px 0 0;

  &__buttons {
    margin-bottom: 57px; 
  }
}

.contact-us {
  background: #e5e5e5;
  padding: 100px 0;

  &__inner {
    display: flex;
    justify-content: space-evenly;
  }

  &__form {
    width: 100%;
    padding: 100px 0;
  }
}