.footer {

  // &__social {
  //   padding: 60px 0 73px;
  //   display: flex;
  //   justify-content: center;
  //   text-align: center;
  // }

  // &__social-link {

  //   &:not(:last-child) {
  //     margin-right: 108px;
  //   }
  // }

  // &__social-icon {

  //   path {
  //     fill: rgba(0, 0, 0, 0.5);
  //   }
  // }

  &__bottom {
    background-color: rgba(0, 0, 0, 1);
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
  }
}