.footer {

  &__social {
    padding: 60px 0 73px;
    border-top: 1px solid $color-grey-2;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__social-link {

    &:not(:last-child) {
      margin-right: 108px;
    }
  }

  &__social-icon {

    path {
      fill: rgba(0, 0, 0, 0.5);
    }
  }

  &__bottom {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__copyright {
    font-size: 24px;
    line-height: 33px;
    color: #fff;
  }
}