.header {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (max-height: 800px) {
    height: 700px;
  }

  &__inner {
    text-align: center;
    padding-top: 25px;

    @media (max-width: 870px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
    }

    @media (max-height: 800px) {
      padding-top: 0;
    }
  }
  @media (max-width: 609px) {
    .heading-primary {
      font-size: 28px;
    }
  }
  @media (max-width: 360px) {
    .heading-primary {
      font-size: 20px;
    }
  }

  &__text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;

    @media (max-height: 800px) {
      top: 40%;
    }
  }
}
