@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic/CenturyGothic.woff2') format('woff2'),
  url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/Icomoon/icomoon.eot?q33ka0');
  src:  url('../fonts/Icomoon/icomoon.eot?q33ka0#iefix') format('embedded-opentype'),
    url('../fonts/Icomoon/icomoon.ttf?q33ka0') format('truetype'),
    url('../fonts/Icomoon/icomoon.woff?q33ka0') format('woff'),
    url('../fonts/Icomoon/icomoon.svg?q33ka0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-up:before {
  content: "\f077";
}